@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Kevin's Website";
}

<!-- Kevin Troll -->
<!-- Mission 3 assignment -->

<!-- Header that lists your preferred name -->
<h1 class="p-3 mb-2 bg-primary text-white">Kevin Tröll or Kevinho</h1>
<br />
<!-- A picture of yourself doing something you enjoy -->
<img id="picture" src="img/3.JPG" style="width:300px;height:250px;" />
<br>
<!-- A paragraph on what you hope to get out of this IS 413 class-->
<p>This is my son, Luka! I love spending time with him</p>
<p> from this class I hope to keep developing my programming skills</p>
<!-- A list of the Top #3 jobs you are most interested in pursuing when you graduate -->
<h2 class="p-3 mb-2 bg-primary text-white">Top 3 Jobs: </h2>
<ul>
    <li class="p-3 mb-2 bg-success text-white"> Security Enigneer </li>
    <li class="p-3 mb-2 bg-success text-white"> Security Analyst </li>
    <li class="p-3 mb-2 bg-success text-white"> Cybersecurity Analyst </li>
</ul>
<br>
